body {
	font-family: 'Sono', sans-serif;
	text-align: center;
	margin-right: 5em;
	margin-left: 5em;
	background-size: 100%;
	background-repeat: no-repeat;
}

.container {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	display:  flex;
	flex-wrap:  wrap;
	gap:  30px;
}

.container: hover .card {
	transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1)
rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}

.card {
	width: 300px;
	height: 200px;
	background-color: white;
	border-radius:  25px;
	cursor:  pointer;
	transition: : all 0.4s;
	opacity: 40%
}

.container:hover .card:hover {
	transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1)
rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style:  preserve-3d;
	box-shadow:  0px 4 px 4 px #DC5B51;
}

button {
	position: relative;
	display: inline-block;
	cursor:  pointer;
	outline:  none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size:  inherit;
	font-family: inherit;
}

button.learn-more {
	width: 20rem;
	height: auto;
}

button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width:  3rem;
	height: 3rem;
	background: #282936;
	border-radius: 1.625rem;
}

button.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

button.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left:  0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right:  0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top:  0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin:  0 0 0 1.85 rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

button:hover .circle {
	width: 100%;
}

button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

button:hover .button-text {
	color:  #fff;
}